@model IEnumerable<Review>
@{
    ViewData["Title"] = "Отзывы";
}

<div class="breadcumb-section" style="height: 250px">
    <div class="container">
        <div class="breadcumb-all-shape">
            <div class="breadcumb-shape">
                <img src="assets/images/breadcumb/banner-shape.png" alt="shape">
            </div>
            <div class="breadcumb-shape1">
                <img src="assets/images/breadcumb/banner-shape1.png" alt="shape">
            </div>
            <div class="breadcumb-shape2">
                <img src="assets/images/breadcumb/banner-shape2.png" alt="shape">
            </div>
            <div class="breadcumb-shape3">
                <img src="assets/images/breadcumb/banner-shape3.png" alt="shape">
            </div>
            <div class="breadcumb-shape4">
                <img src="assets/images/breadcumb/banner-shape4.png" alt="shape">
            </div>
        </div>
    </div>
</div>
<style>
    form {
        display: inline;
    }
</style>
<div class="row">
    <div class="col-lg-9 col-md-6 mb-5">
        <div class="tab_content">
            <div class="form-box">
                <input type="hidden" name="Options.SearchPropertyName" form="pageform" value="Text" />
                @await Html.PartialAsync("_InnerSearch", Model)
                @if (Model.Count() < 1)
                {
                    <div class="text-center">
                        <h3>Отзывы отсутствуют</h3>
                    </div>
                }
                else
                {
                    <ul class="accordion">
                        @foreach (Review review in Model)
                        {
                            <li @(!review.IsPublicated ? "style=background-color:#f6f2fa" : "")>
                                <span style="display: block">| <b>Имя:</b> @review.Name</span>
                                <span style="display: block">| <b>Оценка:</b>  @review.Ranking </span>
                                <span style="display: block">| <b>Комментарий: </b>@review.Description</span>
                                @if (!review.IsPublicated)
                                {
                                    <span>
                                        <form asp-controller="Account" asp-action="PublishReview" asp-route-id="@review.Id" method="get">
                                            <button type="submit" class="btn btn-info">Опубликовать</button>
                                        </form>
                                    </span>
                                }
                                <span>
                                    <form asp-controller="ShortPost" asp-action="GetItem" asp-route-path="@review.ShortPost.Path" method="get">
                                        <button type="submit" class="btn btn-success">Посмотреть</button>
                                    </form>
                                </span>
                                <span>
                                    <form asp-controller="Account" asp-action="DeleteReview" asp-route-id="@review.Id" method="post">
                                        @Html.AntiForgeryToken()
                                        <button type="submit" class="btn btn-danger">Удалить</button>
                                    </form>
                                </span>
                            </li>
                        }
                    </ul>
                }
            </div>

            <!-- Pagionation Section  -->
            @await Html.PartialAsync("_Pages", Model)
            <!-- Pagionation Section End -->

        </div>
    </div>

    @await Html.PartialAsync("_SideBarMenu", 4)

</div>